.speakers-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.speaker-card {
    /* width: 300px; */
    background: #fafafa;
    margin: 0.75em 1em;
    border-radius: 5px;
    box-shadow: 0px 0px 15px -3px rgba(46,74,117,1);
    transition: 0.4s;
}
.speaker-card img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.speaker-card .speaker-details {
    text-align: center;
    padding: 0.7em 1.2em;
}
.speakers-heading {
    font-size: 3em;
    padding: 0.5em 0;
    color: white;
    text-align: center;
}
.speakers-list {
    width: 80%;
    margin: auto;
}
.speaker-card .designation {
    color: darkgray;
    font-size: 0.9em;
    text-transform: uppercase;
}
.speaker-card .company {
    font-size: 1.2em;
}
.speaker-card:hover {
    box-shadow: 0px 0px 40px -5px rgba(46,74,117,1);
    transform: scale(1.01);
    transition: 0.4s;
}
.workshops-heading {
    padding: 1em 0;
}
.screen {
    min-height: 105vh;
}

.schedule-heading {
    text-align: center;
    text-decoration: underline;
    font-weight: 600;
    padding-top: 0.3em;
}

.sponsors-heading {
    font-size: 2.3px;
    text-align: center;
    color: #31374F;
    font-weight: 700;
    padding-bottom: 40px;
    font-family: "Montserrat", sans-serif;
}

.sponsors-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.sponsors-list > div {
    width: auto;
    min-height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}
.sponsors-list img {
    max-width: 230px;
}
#dashboardButtonMain {
    display: none;
}
#sticky-login-button, #sticky-dashboard-button {
  position: fixed;
  left: 110vw;
  transition: 0.5s;
}
#sticky-login-button.visible, #sticky-dashboard-button.visible {
  transition: 0.5s;
  left: 82vw !important;
}
#sticky-login-button {
  top: 5vh;
  width: 7vw;
}
#sticky-dashboard-button {
  top: 13vh;
  width: 7vw;
}
#sticky-login-button button, #sticky-dashboard-button button {
    height: 3em;
    width: 15vw;
    border-radius: 1.5em;
    padding: 0 1em;
    background: #ba00fb;
    color: white;
    cursor: pointer;
    border: 0;
}

/* Copied from SCSS */
#dashboard {
    width: 70vw;
  }
  #dashboard .dashboard-container {
    padding: 1.2em;
  }
  #dashboard .dashboard-container .bottom {
    display: flex;
  }
  #dashboard .dashboard-container .input-block {
    margin: 0.7em 0;
  }
  #dashboard .dashboard-container .input-block input {
    border: solid 1.5px gray;
    padding: 0.7em 1em;
    color: gray;
  }
  #dashboard .dashboard-container .submit-button {
    background: #b200f4;
    color: white;
    height: 2.5em;
    border-radius: 1.25em;
    border: none;
    padding: 0 1em;
    cursor: pointer;
  }
  #dashboard .dashboard-container .registration {
    padding: 0.5em 1.2em;
    margin: 1.2em 0;
  }
  #dashboard .dashboard-container .registration .yes-registration .workshop-title {
    font-size: 1.5em;
  }
  #dashboard .dashboard-container .registration .yes-registration .date {
    color: darkgray;
    font-weight: 600;
    font-size: 0.85em;
  }
  #dashboard .dashboard-container .registration .yes-registration .pay-accomodation, #dashboard .dashboard-container .registration .yes-registration .pay-workshop {
    color: white;
    cursor: pointer;
    border: none;
    height: 2.5em;
    border-radius: 1.25em;
    margin: auto;
    background: #9768ce;
    padding: 0 1em;
  }
  #dashboard .dashboard-container .registration .no-registration .view-workshops {
    color: white;
    cursor: pointer;
    border: none;
    height: 2.5em;
    border-radius: 1.25em;
    margin: auto;
    background: #9768ce;
    padding: 0 1em;
  }
  @media screen and (max-width: 600px) {
    #dashboard {
      width: 95vw;
    }
    #dashboard .bottom {
        flex-direction: column;
    }
    #Intro {
        margin: 0;
    }
    #Intro .side-tag {
        display: none;
    }
    #Intro .left {
        width: 100%;
    }
    #Intro .info-content {
        width: 100%;
    }
    #Intro .desc-div.left {
        width: 100%;
    }
    #Intro .desc-div.right {
        width: 100%;
        padding: 0.5em 1em;
    }

    #Workshops .wrapper.container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .cntl-icon {
        transform: translateX(35%) rotateZ(-90deg);
    }
    .sponsors-heading {
        width: 100%;
        margin: 0;
        padding-bottom: 0 !important;
    }
    .pc-only {
        display: none;
    }
}
  /* End copied from scss */
  button:disabled,
  button[disabled]{
    border: 1px solid #999999;
    color: #cccccc;
    background-color: #666666;
  }