<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta content='width=device-width, initial-scale=1.0, user-scalable=no' name='viewport'>
	<link rel="shortcut icon" type="image/png" href="images/img40.png"/>
	<title>TechSummit | Techkriti'19</title>
	<meta name="author" content="Techkriti Web Team 2019">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	 crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="css/ae7ffc7b99.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script src="https://cdn.jsdelivr.net/gh/vast-engineering/jquery-popup-overlay@1.7.13/jquery.popupoverlay.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700,900" rel="stylesheet">
	<link rel="stylesheet" href="css/master.css" media="screen" title="no title" charset="utf-8">
	<link rel="stylesheet" href="css/styles2.css" media="screen" title="no title" charset="utf-8">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/izimodal/1.5.1/css/iziModal.min.css">
	<link rel="stylesheet" type="text/css" href="./lib/cntl.css">
	<script src="js/iziToast.min.js" type="text/javascript"></script>
	<link rel="stylesheet" href="css/iziToast.min.css">
	<script src="https://www.gstatic.com/firebasejs/5.7.3/firebase.js"></script>
	<script src="js/backend.js"></script>

	<style>
		#header h3 {
		  font-family: "Montserrat", sans-serif;
		  padding: 1%;
		  float: right;
		  color: #FFFFFF;
		}
		#header img {
		  height: 100%;
		}
		#header {
			height: 50px;
		  background-color: #222739;
		}
		.profile-pic {
		  width: 5%;
		  height: 5%;
		}
		html {
		  scroll-behavior: smooth;
		}
		.well {
			background-color: #222837;
	        display:none;
	        margin:1em;
	        max-width: 1000px;
	        overflow: auto;
	        max-height: 100vh;
	    }
	    .well .JPO_close {
	        position: absolute;
	        top: 0;
	        right: 0px;
	        border-radius: 2px;
	        background: none;
	        border: 0;
	        font-size: 25px;
	        padding: 0 10px;
	        background-color: #3f465f;
	    }
	</style>
</head>

<body>
	<div><noscript id="tsNoJsMsg">Javascript has not been enalbled in your browser.</noscript></div>
	<section class="section-one">
		<div class="navbar" style="margin-left:9%">
			<img class="logo-main" src="./images/logo-main.png">
		</div>
		<div class="info-container" style="pointer-events: none;">
			<div id="particles-js" style="pointer-events: all;"></div>
			<p class="p-date"><strong>8 - 10 March 2019</strong></p>
			<p id="typing" style="padding-left:4%">Industry 4.0</p>
			<p class="p-description">Bring about the 4th Industrial Revolution.</p>

			<div class="button-container">
				<button id="quickstart-sign-in" class="circular" style="pointer-events: all;"><i class="fa fa-user-plus" aria-hidden="true"></i> | LOGIN WITH FACEBOOK</button>
			</div>

			<div class="button-container" id="dashboardButtonMain"  style="pointer-events: all;"><button class="circular" onclick="showModal('#dashboard')">
				<i class="fa fa-user-plus" aria-hidden="true"></i> | REGISTER</button>
			</div>
			<div class="button-container">
				<a href="#Speakers">
					<button class="circular shad"  style="pointer-events: all; cursor: pointer;">
						<i class="fas fa-microphone"></i> | SEE LINEUP
					</button>
				</a>
			</div>
		</div>
	</section>

	<section class="section-two row" id="Intro">
		<div class="col-sm-6 two-left">
			<div class="desc-div left">
				<div class="side-tag">
					<div class="draw-line"></div>
					<span>THE CONFERENCE</span>
				</div>
				<div class="info-content">
					<div class="top-design-line">
						<div class="draw-line"></div>
						<span>INSPIRE . CREATE . REPEAT</span>
						<h1 class="info-content-heading">
							Introduction
						</h1>
						<div class="p-content">
							{{ introContent }}
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-6 two-right">
			<div class="desc-div right">
				<div class="multiple-repeat" v-for="intro in intros">
					<div class="multiple-repeat-number">{{ intro.number }}.</div>
					<div class="mod-content">
						<span class="multiple-repeat-heading"> {{ intro.title }} <i class="fa fa-info-circle shad" aria-hidden="true" style="cursor: pointer;"
							 v-on:click="loadContent(intro)"></i> </span>
						<div class="gap10px"></div>
						<!-- <p class="multiple-repeat-info">
							{{ intro.info }}
						</p> -->
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="section-five" id="Speakers">
		<div class="wrapper">
			<div class="speakers-heading">
				Speakers
			</div>
			<div class="speakers-list">
				<div class="speaker-card" v-for="speaker in speakers">
					<img :src="speaker.image">
					<div class="speaker-details">
						<h4>{{ speaker.name }}</h4>
						<div class="designation">{{ speaker.position }}</div>
						<div class="company">{{ speaker.Organisation }}</div>
						<a :href="speaker.linkedin" target="_blank">
							<i class="fab fa-linkedin-in"></i>
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="screen section-six" id="Workshops">
		<div class="wrapper container">
			<div class="workshops-heading main-heading" style="color: #31374F !important; text-align: center;">
				<span style="font-size: 40px; ">Workshops</span><br>
			</div>
			<br>
			<div class="row" style="width:100%">
				<div class="col-lg-3 col-md-3 col-sm-6" style="height: 700px;" v-for="workshop in workshops">
					<div class="card text-center">
						<div class="card-header">{{ workshop.title }}</div>
						<img class="card-img-top" :src="workshop.image">

						<div class="card-body" style="background: #FAFAFA">
							<img class="card-img" :src="workshop.image2" style="">
							<h5 class="card-title">{{ workshop.info }}</h5>
							<p class="card-text">{{ workshop.content }}</p>
							<a href="#" class="btn btn-primary" style="visibility: hidden;">Select This Workshop</a>
						</div>
						<div class="card-footer text-muted" style="cursor:pointer" onclick="showDashboard()">
							<!-- <p>For Students - {{ workshop.priceStudent }}</p>
							<p>For Others - {{ workshop.priceOther}}</p> -->
							REGISTER NOW!
						</div>
						<div class="checkbox" hidden style="visibility:hidden">
							<label><input type="checkbox"> Select This Workshop</label>
						</div>
					</div>
				</div>

			</div>
			<div style="visibility: hidden;">1</div>
		</div>
	</section>

	<section class="section-six">
		<h1 class="schedule-heading">Schedule</h1>
		<br>
		<div class="cntl">
			<span class="cntl-bar cntl-center">
				<span class="cntl-bar-fill"></span>
			</span>
			<div class="cntl-states container">
				<div class="cntl-state">
					<div class="cntl-content">
						<strong>
							<div>
								<p style="border-bottom: 2px solid black">Date: 8th March<br>Day: Friday</p>
							</div>
						</strong>
						<ul>
							<li>Summit Registration</li>
							<li>Opening Ceremony (Talk 1 and Talk 2)</li>
							<li>Workshop slot 1</li>
							<li>Lunch</li>
							<!-- <li>
								<strong> High Tea (Networking) </strong>
							</li> -->
							<li>Workshop slot 2</li>
						</ul>
					</div>
					<div class="cntl-image"><img src="https://firebasestorage.googleapis.com/v0/b/techsubmit19.appspot.com/o/images%2Fground.png?alt=media&token=15f07985-18c9-4724-a01e-c67708fe4895"></div>
					<div class="cntl-icon cntl-center">DAY 1</div>
				</div>

				<div class="cntl-state">
					<div class="cntl-content">
						<strong>
							<div>
								<p style="border-bottom: 2px solid black">Date: 9th March<br>Day: Saturday</p>
							</div>
						</strong>
						<ul>
							<li>Workshop slot 3</li>
							<li>Lunch</li>
							<li>Workshop slot 4</li>
							<li>
								<strong>High Tea (Networking)</strong>
							</li>
							<li>Talk 3</li>
							<li>
								<div>Panel Discussion 1 - Is Industry 4.0 a hype or reality?</div>
							</li>
						</ul>
					</div>

					<div class="cntl-image"><img src="https://firebasestorage.googleapis.com/v0/b/techsubmit19.appspot.com/o/images%2Flibrary.png?alt=media&token=f1d4c5d0-b188-43d1-a124-f905bf0542c8"></div>
					<div class="cntl-icon cntl-center">DAY 2</div>
				</div>

				<div class="cntl-state">
					<div class="cntl-content">
						<strong>
							<div>
								<p style="border-bottom: 2px solid black">Date: 10th March<br>Day: Sunday</p>
							</div>
						</strong>
						<ul>
							<li>Talk 4</li>
							<li>Talk 5</li>
							<li>Panel Discussion 2 - Is Industry 4.0 creating or stealing job opportunities?</li>
						</ul>
					</div>

					<div class="cntl-image"><img src="https://firebasestorage.googleapis.com/v0/b/techsubmit19.appspot.com/o/images%2Fhostel.png?alt=media&token=f4ba3650-3886-475d-b7be-d1a0797700b2"></div>
					<div class="cntl-icon cntl-center">DAY 3</div>
				</div>

				<div class="cntl-state">
					<div class="cntl-content">
						<strong>
							<h1 style="text-align: center;">GALA LUNCH</h1>
							<div style="text-align: center">(Networking)</div>
						</strong>
					</div>
					<div class="cntl-image"><img src="https://firebasestorage.googleapis.com/v0/b/techsubmit19.appspot.com/o/images%2Fhall2.png?alt=media&token=0b3febbd-3a30-49eb-a383-0b32bc8195f8"></div>
				</div>
			</div>
		</div>

	</section>

	<section class="section-eight" id="Sponsers">
		<div class="wrap-sponsers">
			<h2 class="sponsors-heading">Our Sponsors</h2>
			<div class="sponsors-list">
				<div v-for="sponser in sponsers">
					<img :src="sponser.image">
				</div>
			</div>
			<!-- <div class="tagline-info">
				Want to get involved and be a sponsor,<br>
				ready and join us!
			</div>
			<div class="button-container"><button class="circular">BECOME A SPONSOR</button></div> -->
			<div class="button-container"><a href="https://techkriti.org/contact-us" target="_blank"><button class="circular">CONTACT US</button></a></div>
			<div class="side-tag">
				<div class="draw-line"></div>
				<span>AN EVENT BY TECHKRITI</span>
			</div>
		</div>
	</section>

	<section class="section-last">
		<div class="upper-crust">
			<div class="journey-image">
				<img src="images/img40.png">
				<br>
				<font color="white" face="Comic Sans Ms">
					<span style="font-weight: 100;font-size: 20px;">
						<center>Techkriti, IIT Kanpur</center>
					</span>
				</font>
				<br>
				&emsp;&emsp;
				<a href="https://www.facebook.com/techkriti.iitk" target="_blank">
					<span style="color: white;"><i class="fab fa-facebook-f fa-2x"></i></span>
				</a>
				&ensp;
				<a href="https://twitter.com/techkriti_iitk" target="_blank">
					<span style="color: white;"><i class="fab fa-twitter fa-2x"></i></span>
				</a>
				&ensp;
				<a href="https://www.instagram.com/techkriti.iitk/" target="_blank">
					<span style="color: white;"><i class="fab fa-instagram fa-2x"></i> </span>
				</a>
				&ensp;
				<a href="https://www.youtube.com/user/TechkritiIITK" target="_blank">
					<span style="color: white;"><i class="fab fa-youtube fa-2x"></i></span>
				</a>
			</div>
			<div class="footer">
				<div class="line-draw"></div>
				TechSummit is brought to you by Techkriti. All right reserved.
			</div>
		</div>
		<div class="left-bottom"></div>
	</section>

	<div id="dashboard">
		<div class="dashboard-container">
			<h2>Dashboard</h2>
			<div class="bottom">
				<div class="details">
					<img id="photoURL" src="" >
					<div class="input-block">
						<input type="text" id="displayName" placeholder="Your full name">
					</div>
					<div class="input-block">
						<input type="text" id="email" placeholder="Email address">
					</div>
					<div class="input-block">
						<input type="text" id="phone" placeholder="Your mobile number">
					</div>
					<div class="input-block">
						<input type="text" id="college" placeholder="College Name">
					</div>
					<div class="input-block">
						<input type="text" id="city" placeholder="College City">
					</div>
					<div class="input-block">
				      <select class="form-control" id="sel1" onchange="selectWorkshop()">
				      	<option value="W0">Choose One Workshop</option>
				        <option value="IoT">IoT (Internet of Things)</option>
				        <option value="Visual Deep Learning">Visual Deep Learning</option>
				        <option value="Blockchain">Blockchain</option>
				        <option value="Cloud Computing">Cloud Computing</option>
				      </select>
					</div>
					<button class="submit-button" onclick="postData()" id="submit">
						<i class="fa fa-check" aria-hidden="true"></i> SUBMIT
					</button>
				</div>
				<div class="registration">
					<div class="no-registration" id="no-registration">
						<h4 id="selectedWorkshop">You have not registered for any workshop yet!</h4>
						<div>
							<a href="#Workshops">
								<button class="view-workshops" onclick="viewAllWorkshops()">View all workshops</button>
							</a>
						</div>
					</div>
					<div class="yes-registration" id="yes-registration" style="display: none;">
						<span style="font-size: 0.75em">You have registered for</span>
						<div class="workshop-title" id="workshop-title"></div>
						<br>
					</div>
					<div class="yes-registration">
						<div class="status" id="paymentStatus">Need to pay the accomodation fees</div>
						<div class="action-buttons" id="paymentButtons" style="display: none;">
							<div>
								<br>
								<button class="pay-workshop tsbutton" id="workshopFees" onclick="payWorkshopFees()">Pay workshop fees</button>
								<div id="workshop-payment-message"></div>
								<div>+</div>
							</div>
							<div>
								<button class="pay-accomodation tsbutton" id="accomodationFees" onclick="payAccomodation()">Pay accomodation fees</button>
								<div id="accomodation-payment-message"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="sticky-login-button">
		<button><i class="fa fa-user-plus" aria-hidden="true"></i><span class="pc-only">| LOGIN WITH FACEBOOK</span></button>
	</div>
	<div id="sticky-dashboard-button">
		<button onclick="showModal('#dashboard')"><i class="fa fa-user-circle" aria-hidden="true"></i> <span class="pc-only">| DASHBOARD</span></button>
	</div>
	<script src="https://www.townscript.com/popup-widget/townscript-widget.nocache.js"></script>
	<script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>
	<script src="js/script.js"></script>
	<script type="text/javascript" src="particles.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/izimodal/1.5.1/js/iziModal.js"></script>
	<script type="text/javascript" src="app.js"></script>
	<script type="text/javascript" src="js/frontend.js"></script>
	<script type="text/javascript" src="./lib/jquery.cntl.js"></script>
	<script>
		$(document).ready(function () {

			$('#JPO').popup({
				background: false,
				horizontal: 'right',
				vertical: 'bottom',
				keepfocus: false,
				autozindex: true,
				blur: true
			});
			$('.cntl').cntl({
				revealbefore: 300,
				anim_class: 'cntl-animate',
				onreveal: function (e) {
					console.log(e);
				}
			});
			// Set default `pagecontainer` for all popups (optional, but recommended for screen readers and iOS*)
			//$.fn.popup.defaults.pagecontainer = '#page'
		});
		$(window).scroll(function() {
			if($(window).scrollTop() > window.innerHeight) {
				document.getElementById('sticky-login-button').classList.add('visible');
				document.getElementById('sticky-dashboard-button').classList.add('visible');
				// document.getElementById('sticky-register-button').classList.add('visible');

			} else {
				document.getElementById('sticky-login-button').classList.remove('visible');
				document.getElementById('sticky-dashboard-button').classList.remove('visible');
				// document.getElementById('sticky-login-button').classList.remove('visible');
			}
		});
	</script>
	
	<!-- <script src="https://use.fontawesome.com/ae7ffc7b99.js"></script> -->
</body>

</html>