<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta content='width=device-width, initial-scale=1.0, user-scalable=no' name='viewport'>
	<link rel="shortcut icon" type="image/png" href="images/img40.png" />
	<title>TechSummit'19 | Techkriti</title>
	<meta name="author" content="Techkriti Web Team 2019">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<!-- <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
	<link rel="stylesheet" type="text/css" href="css/ae7ffc7b99.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script src="https://cdn.jsdelivr.net/gh/vast-engineering/jquery-popup-overlay@1.7.13/jquery.popupoverlay.min.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700,900" rel="stylesheet">
	<link rel="stylesheet" href="css/master.css" media="screen" title="no title" charset="utf-8">
	<script src="https://www.gstatic.com/firebasejs/5.7.3/firebase.js"></script>
  	<script src="js/backend.js"></script>
	<style>
		html {
		  scroll-behavior: smooth;
		}
		.well {
			background-color: #F1629C;
	        display:none;
	        margin:1em;
	        max-width: 1000px;
	        overflow: auto;
	        max-height: 100vh;
	    }
	    .well .JPO_close {
	        position: absolute;
	        top: 0;
	        right: 0px;
	        border-radius: 2px;
	        background: none;
	        border: 0;
	        font-size: 25px;
	        padding: 0 10px;
	    }
	</style>
</head>
<body>

	<section class="section-one">
		<div class="navbar" style="margin-left:9%">
			<img class="logo-main" src="./images/logo-main.png">
			
			<!-- <img class="logo-main" src="./images/logo-main.png"> -->
			<!-- <i class="navicon fa fa-bars" aria="true">TechSummit</i>		 -->
		</div>
		 <div id="JPO" class="well">
		 	<button disabled id="quickstart-sign-in">Log in with Facebook</button>
		 	<button onclick="postData()">Post Data</button>
		 	<button onclick="getData()">Get Data</button>
		 	<img src="" id="photoURL">
		 	<p id="displayName"></p>
		    <!-- Button to close the popup -->
		    <button class="JPO_close">X</button>
		 </div>
		<div class="info-container">
	        <div id="particles-js"></div>
			<p class="p-date"><strong>8 - 10 March 2019</strong></p>
			<p id="typing">Industry 4.0</p>
			<p class="p-description">Bring about the 4th Industrial Revolution.</p>
			<div class="button-container"><button class="circular JPO_open"><i class="fa fa-user-plus" aria-hidden="true"></i> | REGISTER NOW</button></div>
			<div class="button-container"><a href="#Speakers"> <button class="circular"><i class="fas fa-microphone"></i> | SEE LINEUP</button> </a></div>
		</div>
	</section>

	<section class="section-two row" id="Intro">
		<div class="col-sm-6 two-left">
			<div class="desc-div left">
				<div class="side-tag">
					<div class="draw-line"></div>
					<span>THE CONFERENCE</span>
				</div>
				<div class="info-content">
					<div class="top-design-line">
						<div class="draw-line"></div>
						<span>INSPIRE . CREATE . REPEAT</span>
						<h1 class="info-content-heading">
							Introduction
						</h1>
						<div class="p-content">
							{{ introContent }}
						</div>
						
						
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-6 two-right">
			<div class="desc-div right">
				<div class="multiple-repeat" v-for="intro in intros">
					<div class="multiple-repeat-number">{{ intro.number }}.</div>
					<div class="mod-content">
						<span class="multiple-repeat-heading" > {{ intro.title }} <i class="fa fa-info-circle" aria-hidden="true" v-on:click="loadContent(intro)"></i> </span>
						<div class="gap10px"></div>
						<p class="multiple-repeat-info">
							{{ intro.info }}
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="section-five " id="Speakers">
		 <div class="wrapper">
			<div class="main-heading">
				<span style="font-size: 3vw">Speakers</span>
			</div>
			<div :class="speaker.styling" v-for="speaker in speakers">
				<div class="name-tag">
					<h4>{{ speaker.name }}</h4>
					<span>{{ speaker.position }}</span>
				</div>
				<img :src="speaker.image" style="width:400px !important; height:500px !important">
			</div>
		</div> 		
		 </div> </div>
		</div>
		<div class="wrapper ghost">1</div>
	</section>

	<section class="section-five" id="Workshops">
		<div class="wrapper container" style="padding-bottom:2%">
			<div class="main-heading" style="color: #31374F !important">
				<span style="font-size: 4vw">Workshops<br></span><br>
			</div>
			<br>
			<div class="row" style="width:100%">
				<div class="col-md-3" v-for="workshop in workshops">
					<div class="card text-center">
	  				<div class="card-header">{{ workshop.title }}</div>
					  <img class="card-img-top" :src="workshop.image"><br>
					  <img class="card-img-top" :src="workshop.image2" style="padding: 8px; padding-top: 10px">
		  			<div class="card-body" style="background: #FAFAFA">
		    			<h5 class="card-title">{{ workshop.info }}</h5>
		    			<p class="card-text">{{ workshop.content }}</p>
		    			<a href="#" class="btn btn-primary" style="visibility: hidden;">Select This Workshop</a>
		  			</div>
		  			<div class="card-footer text-muted">
		  				<p>For Students - {{ workshop.priceStudent }}</p>
		  				<p>For Others - {{ workshop.priceOther}}</p>
					</div>
					<div class="checkbox" hidden style="visibility:hidden">
						<label><input type="checkbox" > Select This Workshop</label>
					</div>
				</div>
			</div>
		</div>
		<div style="visibility: hidden;">1</div>
	</section>

	<section class="section-six">
		<div class="schedule-dates">
			<h4 class="head4">Schedule</h4>
			<div class="row r-one">
				<div class="col-sm-4 date">
					<div class="draw-line-hr"></div>
					<span class="sd-dates">
						13 APRIL, 2017
					</span>
				</div>
				<div class="col-sm-4 info">
					<span class="time">10 00 AM</span><br>
					<span class="note">Opening of conference + Connect</span>
				</div>
				<div class="col-sm-4 info">
					<span class="time">11 00 AM</span><br>
					<span class="note">"Inspiration Know"<br>
						Lorem ipsum dolor sit amet, consectetur
					</span>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-4 date">
					<div class="fix"></div>
					<span class="sd-dates">
						14 APRIL, 2017
					</span>
				</div>
				<div class="col-sm-4 ad info">
					<div class="gap20px"></div>
					<span class="time">12 00 PM</span><br>
					<span class="note">Break</span>
				</div>
				<div class="col-sm-4 ad info">
					<div class="gap20px"></div>
					<span class="time">01 00 PM</span><br>
					<span class="note">"Creation is Business"<br>
						Lorem ipsum dolor sit amet, consectetur
					</span>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-4 col-sm-offset-4 info">
					<div class="gap20px"></div>
					<span class="time">03 00 PM</span><br>
					<span class="note">"Customer Experience"<br>
						Lorem ipsum dolor sit amet, consectetur
					</span>
				</div>
				<div class="col-sm-4 info">
					<div class="gap20px"></div>
					<span class="time">04 30 PM</span><br>
					<span class="note">End of the Conference</span>
				</div>
			</div>
		</div>
	</section>

	<section class="section-eight" id="Sponsers">
		<div class="wrap-sponsers">
			<h2>Our awesome sponsers</h2>
			<div class="row">
				<div class="col-sm-4" v-for="sponser in sponsers">
					<img :src="sponser.image">
				</div>
			</div>
			<div class="tagline-info">
				Want to get involved and be a sponser,<br>
				ready and join us!
			</div>
			<div class="button-container"><button class="circular">BECOME A SPONSER</button></div>
			<div class="side-tag">
				<div class="draw-line"></div>
				<span>AN EVENT BY TECHKRITI</span>
			</div>
		</div>
	</section>

	<section class="section-last">
		<div class="upper-crust">
			<div class="journey-image">
				<img src="images/img40.png">
				<h1 style="color: white;">&nbsp; Techkriti  &nbsp; &nbsp;IIT Kanpur</h1>
			</div>
			<!-- <div class="col-lg-4 col-md-4 col-sm-6" style=" text-align: center;">
			<h1 style="color: white;">Techkriti | IIT Kanpur</h1>
			</div> -->
			<!-- <div class="input-box">
				
				<h3 style="">Techkriti | IIT Kanpur</h3>
			</div> -->
			<div class="footer">TechSummit summit is bought to you by Techkriti. All right reserved.</div>
		</div>
		<div class="left-bottom"></div>
	</section>

	<script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>
	<script src="js/script.js"></script>
	<script type="text/javascript" src="particles.js"></script>
	<script type="text/javascript" src="app.js"></script>
	<script type="text/javascript" src="js/frontend.js"></script>
	<script>
    $(document).ready(function() {

      $('#JPO').popup({
		  background: false,
		  horizontal: 'right',
		  vertical: 'bottom',
		  keepfocus: false,
		  autozindex: true,
		  blur: true
		});
      // Set default `pagecontainer` for all popups (optional, but recommended for screen readers and iOS*)
      //$.fn.popup.defaults.pagecontainer = '#page'
    });
  </script>
	<!-- <script src="https://use.fontawesome.com/ae7ffc7b99.js"></script> -->
</body>
</html>